<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Room Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style2.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="index2.html"><img src="{{ url_for('static', filename='IST_Logo.png') }}"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="https://fenix.tecnico.ulisboa.pt/" target="_blank">FENIX</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()""></i>
            </nav>
        </section>
        <section class="text-box">
            <h1>WHERE IS YOUR CLASS?</h1>
            <p>Insert your class credentials.</p>
            <form id="form-login" action="/submit-codes" method="POST">
                <div><input class="input is-small {% if invalid_classroom_code %}is-danger{% endif %}" type="text" name="classroom_code" placeholder="Enter Classroom Code"></div>
                <div><input class="input is-small {% if invalid_student_id %}is-danger{% endif %}" type="text" name="student_id" placeholder="Enter Student ID"></div>
                {% if invalid_classroom_code or invalid_student_id %}
                <div class="help is-danger is-small">
                    {% if invalid_classroom_code and not invalid_student_id%} Invalid classroom code.{% endif %}
                    {% if invalid_student_id and not invalid_classroom_code%} Invalid ID.{% endif %}
                    {% if invalid_classroom_code and invalid_student_id %} Invalid classroom code and ID.{% endif %}
                </div>
                {% endif %}
                <div>
                    <button type="submit" class="hero-btn">CONFIRM</button>
                </div>
            </form>
        </section>
        
        <!-------JavaScript para mostrar menu no telemovel-------->
        <script>
            var navLinks = document.getElementById("navLinks");
        
            function showMenu() {
                navLinks.style.right = "0";
            }
        
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        
        </script>
    </body>
</html>