<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Room 123</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/room.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script>
            function updateSimTemp() {
            fetch('/get-simulated-temp')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('sim-temp').innerHTML = '';
                    // Update the HTML element displaying the temperature
                    document.getElementById('sim-temp').innerText = data.temp;
                });
            }

            function updateVotes() {
            fetch('/get-updated-votes')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('votes-yes').innerHTML = '';
                    // Update the HTML element displaying the temperature
                    document.getElementById('votes-yes').innerText = data.votes * 100;
                });
            }

            function updateBreakVotes() {
            fetch('/get-break-votes')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('votes-break').innerHTML = '';
                    // Update the HTML element displaying the temperature
                    document.getElementById('votes-break').innerText = data.break_votes * 100;
                });
            }

            function updateQuestions() {
                fetch('/get-questions')
                .then(response => response.json())
                .then(data => {
                    // Clear the previous student names
                    document.getElementById('questions').innerHTML = '';
                    // Iterate through the student names and create HTML elements
                    data.questions.forEach(question => {
                        const questionElement = document.createElement('p');
                        questionElement.textContent = question;
                        document.getElementById('questions').appendChild(questionElement);
                    });
                });
            }


            function updateAttendanceList() {
                fetch('/get-attendance-list')
                .then(response => response.json())
                .then(data => {
                    // Clear the previous student names
                    document.getElementById('attendance-list').innerHTML = '';
                    // Iterate through the student names and create HTML elements
                    data.students.forEach(student => {
                        const studentElement = document.createElement('p');
                        studentElement.textContent = student;
                        document.getElementById('attendance-list').appendChild(studentElement);
                    });
                });
            }

            function updatePresences() {
                fetch('/get-presences')
                .then(response => response.json())
                .then(data => {
                    // Clear the previous student names
                    document.getElementById('presences').innerHTML = '';
                    // Iterate through the student names and create HTML elements
                    data.presences.forEach(presence => {
                        const presenceElement = document.createElement('p');
                        presenceElement.textContent = presence;
                        document.getElementById('presences').appendChild(presenceElement);
                    });
                });
            }

    
            // Call updateX function initially
            updateSimTemp();
            updateAttendanceList();
            updatePresences();
            updateVotes();
            updateBreakVotes();
            updateQuestions();
    
            // Call updateX function periodically to fetch updated value
            setInterval(updateSimTemp, 3000); // Update every second (adjust as needed)
            setInterval(updateAttendanceList, 3000); // Update every second (adjust as needed)
            setInterval(updatePresences, 3000);
            setInterval(updateVotes, 3000);
            setInterval(updateBreakVotes, 3000);
            setInterval(updateQuestions, 3000);
        </script>
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="index2.html"><img src="{{ url_for('static', filename='IST_Logo.png') }}"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="#fenix">FENIX</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()""></i>
            </nav>
        </section>
        <section class="room">
            <div class="box" id="teacher-control">
                <h1>Light Change 1</h1>
                <button type="button" id="lc0-on" name="l0-on" class="hero-btn">ON</button>
                <button type="button" id="lc0-off" name="l0-off" class="hero-btn">OFF</button>
                <h1>Light Change 2</h1>
                <button type="button" id="lc1-on" name="l1-on" class="hero-btn">ON</button>
                <button type="button" id="lc1-off" name="l1-off" class="hero-btn">OFF</button>
                <h1>Light Change 3</h1>
                <button type="button" id="lc2-on" name="l2-on" class="hero-btn">ON</button>
                <button type="button" id="lc2-off" name="l2-off" class="hero-btn">OFF</button>
                <h1>Projector</h1>
                <button type="button" id="proj-on" name="proj-on" class="hero-btn">ON</button>
                <button type="button" id="proj-off" name="proj-off" class="hero-btn">OFF</button>
                <h1>Auto mode</h1>
                <button type="button" id="auto-on" name="auto-on" class="hero-btn">ON</button>
                <button type="button" id="auto-off" name="auto-off" class="hero-btn">OFF</button>
                <h1>Temperature Change (<span id="sim-temp"></span>ºC)</h1>
                <form action="/update-temperature" method="POST">
                    <input class="input is-normal" type="text" name="teacher_temp" placeholder="Insert in Celsius"></input>
                    <button type="submit" name="temp_confirm" class="hero-btn">CONFIRM</button>
                </div>
            </div>
            <div class="box">
                <h1>Break Votes</h1>
                <p class="title is-3 is-spaced"><span id="votes-break"></span>%</p>
                <div><button type="button" id="reset-break-btn" class="hero-btn" onclick="resetBreakVotes">RESET</button></div>
                <h1>Poll Votes</h1>
                <p class="title is-3 is-spaced"><span id="votes-yes"></span>%</p>
                <div><button type="button" id="reset-btn" class="hero-btn" onclick="resetVotes">RESET</button></div>
                <div class="row">
                    <h2>Questions</h2>
                    <p><span id="questions"></span></p>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="column">
                        <h2>Students</h2>
                        <p><span id="attendance-list"></span></p>
                    </div>
                    <div class="column">
                        <h2>Presence</h2>
                        <p><span id="presences"></span></p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-------JavaScript para mostrar menu no telemovel-------->
        <script>
            var navLinks = document.getElementById("navLinks");

            function resetVotes() {
                 fetch('/reset-votes', {
                    method: 'POST',
                }).then(response => {
                    updateVotes();
                })
    
            }

            function resetBreakVotes() {
                 fetch('/reset-break-votes', {
                    method: 'POST',
                }).then(response => {
                    updateBreakVotes();
                })
    
            }
            document.getElementById('reset-btn').addEventListener('click', resetVotes);
            document.getElementById('reset-break-btn').addEventListener('click', resetBreakVotes);

            function updateLight(light_nr, state) {
                fetch('/update-light', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        light_nr: light_nr,
                        state: state
                    })
                })
            }

            function updateProjector(state) {
                fetch('/update-proj', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        state: state
                    })
                })
            }

            document.getElementById('lc0-on').addEventListener('click', function() {updateLight('0', 'on')});
            document.getElementById('lc0-off').addEventListener('click', function() {updateLight('0', 'off')});
            document.getElementById('lc1-on').addEventListener('click', function() {updateLight('1', 'on')});
            document.getElementById('lc1-off').addEventListener('click', function() {updateLight('1', 'off')});
            document.getElementById('lc2-on').addEventListener('click', function() {updateLight('2', 'on')});
            document.getElementById('lc2-off').addEventListener('click', function() {updateLight('2', 'off')});
            document.getElementById('proj-on').addEventListener('click', function() {updateProjector('on')});
            document.getElementById('proj-off').addEventListener('click', function() {updateProjector('off')});
            document.getElementById('auto-on').addEventListener('click', function() {updateLight('9','on')});
            document.getElementById('auto-off').addEventListener('click', function() {updateLight('9','off')});
        
            function showMenu() {
                navLinks.style.right = "0";
            }
        
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        
            // Smooth scroll function
            function scrollToSection(sectionId) {
                var section = document.getElementById(sectionId);
                if (section) {
                    window.scrollTo({
                        top: section.offsetTop,
                        behavior: "smooth"
                    });
                }
            }
        
            // Add an event listener for each navigation link
            var navigationLinks = document.querySelectorAll('.nav-links ul li a');
            navigationLinks.forEach(function(link) {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    var sectionId = link.getAttribute('href').substring(1); // Remove the # from the href
                    scrollToSection(sectionId);
                });
            });
        </script>
    </body>
</html>
